body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

input, button {
  padding: 6px;
  margin: 5px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.pokemon {
  width: 100px;
  border: 1px solid #000;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
}

.pokemon img {
  width: 80px;
  height: 80px;
}
